<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Todo</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/minified/introjs.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <noscript>
      <style>
        .todo-list,
        .make {
          display: none;
        }
        form input,
        button:hover {
          cursor: not-allowed;
        }
      </style>
    </noscript>
  </head>

  <body>
    <div id="app">     
      <header>
        <h1>Vue Todo</h1>
        <p>
          Very cool todo list by Shivam Garg with deleting, completing, and reordering capabilities.
        </p>
      </header>
      <form @submit.prevent="addTodo">
        <input
          type="text"
          id="newtodo"
          v-model="input"
          placeholder="Enable javascript..."
          :placeholder="placeholders[0]"
          title="What you need to do"
          data-intro="Enter your todo text here."
          data-step="1"
        />
        <button
          type="submit"
          data-intro="Click to add todo to list."
          data-step="2"
        >
          Add
        </button>
      </form>
      <div class="buttons" data-intro="Self-explanatory buttons." data-step="3">
        <button @click="removeAll">Remove all</button>
        <button @click="removeCompleted">Remove completed</button>
      </div>
      <draggable
        v-model="todos"
        v-if="todos.length"
        handle=".reorder"
        class="todo-container"
      >
        <transition-group tag="ul" name="todo" class="todo-list" appear>
          <todo-item
            v-for="todo in todos"
            :todo="todo"
            :key="todo.id"
            @remove-todo="removeTodo"
            @toggle-todo="toggleTodo"
          ></todo-item>
        </transition-group>
      </draggable>
      <p class="make todo-message" v-else>Go make a todo!</p>
      <noscript
        ><p class="todo-message">
          This app requires javascript to run.
        </p></noscript
      >
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>

    <script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
  
    <script src="https://cdn.jsdelivr.net/combine/npm/sortablejs@1.10.2,gh/SortableJS/Vue.Draggable@.19.2/dist/vuedraggable.umd.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/intro.js@2.9.3/minified/intro.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>
